.env
node_modules/
frontend/.env
frontend/node_modules
backend/node_modules
backend/.env
frontend/dist/
.DS_Store
.vscode/
INSTALLATION_REPORT.txt
backend/.env.example
frontend/.env.example
frontend/public/background.mp4
